.error {
  background: #dd4b39 none repeat scroll 0 0;
  color: #fff;
  float: left;
  margin: 10px 2%;
  padding: 4px 10px;
  width: 96%;
}
.childCheck {
  float: left;
  padding: 10px;
  width: 100%;
  display:none;
}
.childCheck label {
  float: left;
  margin-bottom: 5px;
  width: 100%;
}
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    background: #fff none repeat scroll 0 0 !important; 
    border-left-color: #438ecc !important;
    color: #000 !important;
}